version: 2.1

.filter_all: &filter_all
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

.filter_tags: &filter_tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /.*/

orbs:
  orb-tools: circleci/orb-tools@12.4.0
  shellcheck: circleci/shellcheck@3.4.0

workflows:
  continious:
    jobs:
      - orb-tools/lint:
          <<: *filter_all
      - orb-tools/pack:
          <<: *filter_all
      - orb-tools/publish:
          <<: *filter_all
          requires:
            - orb-tools/lint
            - orb-tools/pack
          attach_workspace: true
          vcs_type: gh
          orb_name: timo-reymann/deterministic-zip
